:root {
    --primary-orange: rgba(250, 99, 4, 0.905);
    --primary-red: rgb(120, 0, 0);
    --primary-dark-red: rgb(126, 0, 0);
    --primary-light-red: #B32600;
    
    --text-red: rgb(120, 0, 0);
    --text-dark-red: rgb(126, 0, 0);
    --text-light-red: #B32600;
    
    --bg-transparent-red: #B3260050;
    
    --white: rgb(255, 255, 255);
    --black: #353535;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.debug {
    outline: 1px solid red;
}
