:root {
    --primary: #353535;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;

}

.debug {
    outline: 1px solid red;
}
